<tr class="noclass" id= "<%= movie['id'] %>_tr">
  <td><%= image_tag (Tmdb::PICTURE_URL + movie['poster_path']) unless movie['poster_path'].nil? %></td>
  <td><%= link_to (movie['title'] + " (#{parse_date(movie['release_date'])})"), movie_path(movie['id']) %></td>
</tr>
