    <tr class="noclass" id= "<%= movie['id'] %>_tr">
        <td>
            <%= image_tag (Tmdb::TheMovieDb::PICTURE_URL + movie['poster_path']) unless movie['poster_path'].nil? %>
        </td>
        <td>
            <%= link_to (movie['title'] + " (#{Date.parse(movie['release_date']).strftime('%Y') unless (movie['release_date'].empty?)})"), movie_path(movie['id']) %>
        </td>
    </tr>
