<table>
	<tr>
		<td><%= link_to "Top 250", list_path("522effe419c2955e9922fcf3") %></td>
	</tr>
	<tr>
		<td><%= link_to "Halloween Collection", list_path("526bbe65760ee34e7206daf4") %></td>
	</tr>
</table>