
<% x = list_people(@querystring) %>
Number of results: <%= x['total_results'] %>

<table>
	<% x['results'].each do |person| %>
		<tr>
			<td><%= image_tag Tmdb::TheMovieDb::PICTURE_URL + person['profile_path'] unless person['profile_path'].nil? %></td>
			<td><%= link_to person['name'], person_path(person['id']) %></td>
		</tr>
	<% end %>
</table>