<%= provide :title, 'Settings' %>
<h2><%= @user.username %></h2>
<div class= 'row'>
  <div class= 'col-md-6'>
    <table class='table'>
      <tr>
        <td>Save your movies to a csv file:</td>
        <td><%= button_to 'Save',  { action: 'save_movie_list' }, { class: 'btn btn-default' } %></td>
      </tr>
    </table>
  </div>
</div>
