
<table class="table">	
	<tr>
		<th>Actors/Actresses</th>
	</tr>
	<% add_unique_actor_and_id_to_array(@usermovies).take(10).each do |actor, id| %>
	<tr>
		<td>
		<%= link_to actor, actor_path(id) %>

		</td>
	</tr>
	<% end %>
</table>


<table class="table">	
	<tr>
		<th>Other Users!</th>
	</tr>
	<tr>
				<% User.take(10).each do |x|  %>
		<td>	
			<%=link_to(x[:username], profile_path(x[:username])) %>
		</td>
	</tr>
			<% end %>
</table>

