<table class="table">
  <tr>
    <th>Recently Added Movies</th>
  </tr>
  <% add_most_recent_movies_and_ids_to_array(profile.user, 5).reverse_each do |title, id| %>
    <tr>
      <td>
      <%= link_to title, movie_path(id) %>
      </td>
    </tr>
  <% end %>
</table>

<table class="table">	
	<tr>
		<th>Other Users!</th>
	</tr>
	<% User.take(10).each do |user|  %>
	  <tr>
		  <td>	
			  <%= link_to(user[:username], profile_path(user[:username])) unless user[:username] == current_user.username %>
		  </td>
	  </tr>
	<% end %>
</table>
