<table class="table">
  <tr>
    <th>Recently Added Movies</th>
  </tr>
  <% add_most_recent_movies_and_ids_to_array(@usermovies).reverse_each do |title, id| %>
    <tr>
      <td>
      <%= link_to title, movie_path(id) %>
      </td>
    </tr>
  <% end %>
</table>

<table class="table">	
	<tr>
		<th>Other Users!</th>
	</tr>
	<tr>
				<% User.take(10).each do |x|  %>
		<td>	
			<%= link_to(x[:username], profile_path(x[:username])) unless x[:username] == current_user.username %>
		</td>
	</tr>
			<% end %>
</table>

