<% ((params.has_key?(:id)) && (params[:id] != current_user.username)) ?  (method, submit, action, trclass = ive_seen_it(movie['id'], @ourmovies)) : trclass="noclass" %>
<tr class= "<%= trclass %>" id = "<%= movie['id'] %>_tr">
    <td>
        <%= link_to ("#{movie['title']} (#{movie['year']})"), movie_path(movie['id']) %>
    </td>
    <% if params.has_key?(:id) && (current_user.username != params[:id])  %>
        <td>
            <%= render 'shared_partials/iveseenitbutton_search', submit: submit, method: method, path: profile_path(@user), movie: movie %>
        </td>
    <% end %>
</tr>
