Number of results: <%= @search.list_count %>
<table>
  <tr class="movie_status_table_header">
    <th></th>
    <th>Film</th>
  </tr>
	<tr>
    <%= render partial: @listpart, collection: @search.list.map { |movie| Tmdb::Movie.new(movie) }, as: :movie %>
	</tr>
</table>
