Number of results: <%= @search.list_count %>
<table>
  <tr class="movie_status_table_header">
    <th></th>
    <th>Film</th>
  </tr>
  <tr>
    <%= render partial: @search.view_partial, collection: @search.list_renderable, as: :movie %>
	</tr>
</table>
