/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

.smaller-form {
  width: 80%;
  text-align: right;
}

.profile-header-right {
  text-align: right;
}

.container-fluid {
  padding: 10px;
  background-color: #fff8dc;
}

.header-login {
  text-align: right;
}

.header-logged-in {
  text-align: right;
}

.header-search-bar {
  text-align: center;
  vertical-align: center;
}

.header-table {
  width: 100%;
}

.header-table-movie-picture {
  text-align: left;
}

#main-search {
  margin-left: auto ;
  margin-right: auto ;
  width: 30%;
  text-align: center;
  margin-top: 200px;
}

#main-create-profile {
  text-align: center;
  margin-top: 100px;
}

.notice {
  text-align: left;
}

.alert {
  text-align: left;
}

.movie-status-table-header {
  font-size: large;
  background-color: #acd4e9;
}

.movie-watched {
  background-color: #ace9b1;
}

.movie-list {
  width: 60%;
  tr {
    td {
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

.movie-unwatched {
  background-color: #ffe2e2;
}

.percentage-of-movies  {
  border: 3px solid;
  float: none; 
  margin-left: auto; 
  margin-right: auto;
  height: 150px;
  width: 150px;
  td {
    font-size: large;
    vertical-align: middle;
    text-align: center;
  }
}
